<a href="https://colab.research.google.com/github/saivardhan4f0/NNDL/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from google.colab import drive 
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [6]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [25]:
data=pd.read_csv('/content/drive/MyDrive/aii assignment 1.csv')
data.head()

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

In [21]:
maxX = np.max(data['X'])
minX = np.min(data['X'])
maxY = np.max(data['Y'])
minY = np.min(data['Y'])

data['X'] = (data['X'] - minX) / (maxX - minX)
data['Y'] = (data['Y'] - minY) / (maxY - minY)

In [22]:
x = data['X']
y = data['Y']
trainX, testX, trainY, testY = train_test_split(x, y, test_size=0.1, random_state=101)

In [23]:
m = np.random.uniform(-50, 50)
c = np.random.uniform(-50, 50)
eta = 0.5
epochs = 500

# Loop for epochs
for _ in range(epochs):
    
    # Calculating Grad M
    gradM = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) * trainX.iloc[i] for i in range(trainX.shape[0])])
    gradM /= trainX.shape[0]
    
    # Calculating Grad C
    gradC = -sum([(trainY.iloc[i] - m * trainX.iloc[i] - c) for i in range(trainX.shape[0])])
    gradC /= trainX.shape[0]
    
    # Updating m and c values
    c += - eta * gradC
    m += - eta * gradM

# Print model parameters after training
print(f'm = {m}\nc = {c}')

m = -0.15334587036798258
c = 0.6966995352451862

In [24]:
# Calculating Predictions
train_pred = [m * trainX.iloc[i] + c for i in range(trainX.shape[0])]
test_pred = [m * testX.iloc[i] + c for i in range(testX.shape[0])]

# Denormalization of Output Values
train_pred = [i * (maxY - minY) + minY for i in train_pred]
test_pred = [i * (maxY - minY) + minY for i in test_pred]
trainY = [i * (maxY - minY) + minY for i in trainY]
testY = [i * (maxY - minY) + minY for i in testY]

import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(train_pred, trainY))
print("training error") 
print('Root mean square error', rmse) 
mse = (mean_squared_error(train_pred,trainY)) 
print('Mean square error', mse) 
mae=mean_absolute_error(train_pred,trainY)
print('Mean absolute error', mae)


#Testing Accuracies
rmse = math.sqrt(mean_squared_error(test_pred,testY )) 
print("testing error")
print('Root mean square error', rmse) 
mse = (mean_squared_error(test_pred,testY))
print('Mean square error', mse) 
mae=mean_absolute_error(test_pred,testY)
print('Mean absolute error', mae)

training error
Root mean square error 39.1512367901699
Mean square error 1532.819342199953
Mean absolute error 26.709846451726087
testing error
Root mean square error 23.075248026055142
Mean square error 532.4670714639617
Mean absolute error 19.05252418898859

In [26]:
pd.DataFrame({'Actual' : trainY, 'Predicted':train_pred})

    Actual   Predicted
0    508.6  504.754287
1    570.9  514.377112
2    510.0  517.478307
3    513.4  520.077837
4    506.3  524.638418
5    512.8  520.214655
6    504.3  516.383767
7    496.4  521.172377
8    578.6  502.565208
9    577.0  520.944348
10   510.9  506.760942
11   502.8  521.172377
12   506.4  509.497291
13   411.2  503.750959
14   503.9  521.126771
15   577.8  520.579501
16   512.8  513.966660
17   572.4  509.907743
18   406.7  506.031250
19   510.2  512.416062
20   507.1  513.556207
21   506.2  524.866447
22   522.0  510.135772
23   493.0  508.630780
24   531.7  502.473997
25   510.2  519.302539
26   505.2  502.017939

In [27]:
pd.DataFrame({'Actual' : testY, 'Predicted':test_pred})

   Actual   Predicted
0   505.4  514.422718
1   510.8  500.102495
2   563.9  526.462650

In [28]:
x = float(input('Enter the pressure of liquid nitrogen : '))
x = (x - minX) / (maxX - minX)
prediction = m * x + c
prediction = (prediction * (maxY - minY)) + minY
print('Predicted Weight :', prediction)

Enter the pressure of liquid nitrogen : 78
Predicted Weight : 519.2569329661414